body {
    margin: 0;
    padding: 0;
    background-color: #FAFAFA;
    font: 12pt "Tahoma";
}
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

/* ---- 1ere page -----*/
.first-page .title{
    margin: 400px 0 0;
    font-size: 2em;
}


.page {
    width: 21cm;
    min-height: 29.7cm;
    padding: 2cm;
    margin: 1cm auto;
    border: 1px #D3D3D3 solid;
    border-radius: 5px;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    position: relative;
}
.subpage {
    padding: 1cm;
    border: 5px red solid;
    height: 237mm;
    outline: 2cm #FFEAEA solid;
}
.page .header{
    margin: 1cm;
    position: absolute;
    right: 0;
    top: 0;
    opacity: 0.5;
}
.page .header .logo{
    width: 50px;
}
.page .footer{
    margin: 1cm;
    position: absolute;
    right: 0;
    bottom: 0;
    opacity: 0.5;
}
.page h1{
	margin: 40px 0 20px; 
	font-size: 1.5em;
}
.page h3{
	font-size: 1.0em;
	font-weight: bold;
	text-decoration: underline;
    margin: 0 0 5px;
}

@page {
    size: A4;
    margin: 0;
}
@media print {
    .page {
        margin: 0;
        border: initial;
        border-radius: initial;
        width: initial;
        min-height: initial;
        box-shadow: initial;
        background: initial;
        page-break-after: always;
    }
}

td .edit {
    display: none;
}

td.editing {
    border-bottom: none;
    padding: 0;
}

td.editing .edit {
    display: block;
    width: 506px;
    padding: 13px 17px 12px 17px;
    margin: 0 0 0 43px;
}

td.editing .view {
    display: none;
}