<div class="container">

    <div  ng-show="msgNotification" class="alert" ng-class="{'alert-success': ok, 'alert-danger': !ok}">{{msgNotification}}</div>

    <form role="form" name="form">
        <div class="form-group">
            <label for="year">Year</label>
            <input ng-model="situation.year" type="date" class="form-control" id="year" placeholder="Year">
        </div>
        <div class="form-group">
            <label for="lieu">Password</label>
            <input ng-model="situation.lieu" type="text" class="form-control" id="lieu" placeholder="Location">
        </div>
        <div class="form-group">
            <label for="besoin-entreprise">Besoin de l'entreprise</label>
            <textarea ng-model="situation.besoinentreprise" class="form-control" id="besoin-entreprise" placeholder="Besoin de l'entreprise..." >

            </textarea>
        </div>

        <div class="form-group">
            <label for="travail-demande">Password</label>
            <textarea ng-model="situation.travaildemande" class="form-control" id="travail-demande" placeholder="Travail demandé..." >

            </textarea>
        </div>

        <div class="form-group">
            <label for="retour">Password</label>
            <textarea ng-model="situation.retour" class="form-control" id="retour" placeholder="Retours..." >

            </textarea>
        </div>


        <button type="submit" class="btn btn-default" ng-click="updateSituation(situation)">Submit</button>
    </form>
</div>