<div class="container">
    <div ng-controller="ExportCtrl">
        <div class="page first-page">
            <div>
                Nom Prénom<br>
                01 mars 2014
            </div>
            <div class="title text-center">
                PORTEFEUILLES DE COMPETENCES
            </div>
        </div>
        <div class="page summary-page">
            <h1 class="text-center">SOMMAIRE</h1>

            <div class="row">
                <div ng-repeat="(categorie, competences) in sommaire" class="col-md-6">
                    <div class="categories">{{categorie}}</div>
                    <ul>
                        <li ng-repeat="competence in competences">{{competence.name}}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="page" ng-repeat="situation in situations">
            <!--<div class="subpage">-->
            <div class="header">
                <img src="img/G4-logo.png" alt="G4 logo" class="logo">
            </div>
            <h1 class="text-center">{{situation.name}}</h1>
            <table class="table table-bordered">
                <tr>
                    <td>
                        <h3>Besoin de l'entreprise :</h3>

                        <div class="contentTab">
                            {{situation.besoinEntreprise}}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h3>Travail que globalement on m'as demandé :</h3>

                        <div class="contentTab">
                            {{situation.travailDemande}}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h3>Moyens et contraintes :</h3>

                        <div class="contentList">
                            <ul>
                                <li ng-repeat="contrainte in situation.contraintes">{{contrainte.val}}</li>
                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h3>Chronologiquement j’ai dû :</h3>

                        <div class="contentList">
                            <ul>
                                <li ng-repeat="chrono in situation.chronologiquement">{{chrono.val}}</li>
                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h3>Résultat obtenu :</h3>

                         <div class="contentList">
                            <ul>
                                <li ng-repeat="result in situation.resultat">{{result.val}}</li>
                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h3>Ce que les autres ont dit de mes résultats :</h3>

                        <div class="contentTab">
                            {{situation.retour}}
                        </div>
                    </td>
                </tr>
            </table>
            <div class="footer">
                <div class="pagination">{{$index + 1}}/{{competences.length}}</div>
            </div>
            <!--</div>-->
        </div>
    </div>

</div>