<div class="container">
    <div ng-controller="ExportCtrl">
        <div class="page first-page">
            <div>
                Nom Prénom<br>
                01 mars 2014
            </div>
            <div class="title text-center">
                PORTEFEUILLES DE COMPETENCES
            </div>
        </div>
        <div class="page summary-page">
            <h1 class="text-center">SOMMAIRE</h1>

            <div class="row">
                <div class="col-md-6">
                    <div class="categorie">Technique</div>
                    <ul>
                        <li>Lorem ipsum dolor sit amet.</li>
                        <li>Debitis nesciunt optio natus at.</li>
                        <li>Dolores alias deserunt neque veritatis.</li>
                        <li>Modi commodi dicta dolores sapiente.</li>
                        <li>Inventore cum eos accusamus qui?</li>
                        <li>Harum, quidem consequatur tempore debitis.</li>
                        <li>Ratione, expedita accusantium voluptatem at.</li>
                        <li>Molestiae a ratione corporis ullam.</li>
                        <li>Iste possimus voluptas voluptatem nostrum!</li>
                        <li>Sed, nihil ab sit fugit!</li>
                        <li>Omnis iste id incidunt ut.</li>
                        <li>Nulla consequuntur ipsa fuga distinctio.</li>
                        <li>Magnam nesciunt itaque sed dolorum.</li>
                        <li>Necessitatibus quis ipsum molestiae repudiandae.</li>
                        <li>Veritatis eos nam praesentium quidem?</li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <div class="categorie">Technique</div>
                    <ul>
                        <li>Lorem ipsum dolor sit amet.</li>
                        <li>Debitis nesciunt optio natus at.</li>
                        <li>Dolores alias deserunt neque veritatis.</li>
                        <li>Modi commodi dicta dolores sapiente.</li>
                        <li>Inventore cum eos accusamus qui?</li>
                        <li>Harum, quidem consequatur tempore debitis.</li>
                        <li>Ratione, expedita accusantium voluptatem at.</li>
                        <li>Molestiae a ratione corporis ullam.</li>
                        <li>Iste possimus voluptas voluptatem nostrum!</li>
                        <li>Sed, nihil ab sit fugit!</li>
                        <li>Omnis iste id incidunt ut.</li>
                        <li>Nulla consequuntur ipsa fuga distinctio.</li>
                        <li>Magnam nesciunt itaque sed dolorum.</li>
                        <li>Necessitatibus quis ipsum molestiae repudiandae.</li>
                        <li>Veritatis eos nam praesentium quidem?</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="categorie">Technique</div>
                    <ul>
                        <li>Lorem ipsum dolor sit amet.</li>
                        <li>Debitis nesciunt optio natus at.</li>
                        <li>Dolores alias deserunt neque veritatis.</li>
                        <li>Modi commodi dicta dolores sapiente.</li>
                        <li>Inventore cum eos accusamus qui?</li>
                        <li>Harum, quidem consequatur tempore debitis.</li>
                        <li>Ratione, expedita accusantium voluptatem at.</li>
                        <li>Molestiae a ratione corporis ullam.</li>
                        <li>Iste possimus voluptas voluptatem nostrum!</li>
                        <li>Sed, nihil ab sit fugit!</li>
                        <li>Omnis iste id incidunt ut.</li>
                        <li>Nulla consequuntur ipsa fuga distinctio.</li>
                        <li>Magnam nesciunt itaque sed dolorum.</li>
                        <li>Necessitatibus quis ipsum molestiae repudiandae.</li>
                        <li>Veritatis eos nam praesentium quidem?</li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <div class="categorie">Technique</div>
                    <ul>
                        <li>Lorem ipsum dolor sit amet.</li>
                        <li>Debitis nesciunt optio natus at.</li>
                        <li>Dolores alias deserunt neque veritatis.</li>
                        <li>Modi commodi dicta dolores sapiente.</li>
                        <li>Inventore cum eos accusamus qui?</li>
                        <li>Harum, quidem consequatur tempore debitis.</li>
                        <li>Ratione, expedita accusantium voluptatem at.</li>
                        <li>Molestiae a ratione corporis ullam.</li>
                        <li>Iste possimus voluptas voluptatem nostrum!</li>
                        <li>Sed, nihil ab sit fugit!</li>
                        <li>Omnis iste id incidunt ut.</li>
                        <li>Nulla consequuntur ipsa fuga distinctio.</li>
                        <li>Magnam nesciunt itaque sed dolorum.</li>
                        <li>Necessitatibus quis ipsum molestiae repudiandae.</li>
                        <li>Veritatis eos nam praesentium quidem?</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="page" ng-repeat="a in competences">
            <!--<div class="subpage">-->
            <div class="header">
                <img src="../img/G4-logo.png" alt="G4 logo" class="logo">
            </div>
            <h1 class="text-center">Titre de la compétences {{$index + 1}}</h1>
            <table class="table table-bordered">
                <tr>
                    <td>
                        <h3>Besoin de l'entreprise :</h3>

                        <div class="contentTab">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis, cupiditate ullam quidem
                            facilis itaque voluptatum accusantium laborum
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h3>Travail que globalement on m'as demandé :</h3>

                        <div class="contentList">
                            <ul>
                                <li>list 1</li>
                                <li>list 2</li>
                                <li>list 3</li>
                                <li>list 4</li>
                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h3>Moyens et contraintes :</h3>

                        <div class="contentList">
                            <ul>
                                <li>list 1</li>
                                <li>list 2</li>
                                <li>list 3</li>
                                <li>list 4</li>
                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h3>Chronologiquement j’ai dû :</h3>

                        <div class="contentList">
                            <ul>
                                <li>list 1</li>
                                <li>list 2</li>
                                <li>list 3</li>
                                <li>list 4</li>
                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h3>Résultat obtenu :</h3>

                        <div class="contentTab">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis, cupiditate ullam quidem
                            facilis itaque voluptatum accusantium laborum
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h3>Ce que les autres ont dit de mes résultats :</h3>

                        <div class="contentList">
                            <ul>
                                <li>list 1</li>
                                <li>list 2</li>
                                <li>list 3</li>
                                <li>list 4</li>
                            </ul>
                        </div>
                    </td>
                </tr>
            </table>
            <div class="footer">
                <div class="pagination">{{$index + 1}}/{{competences.length}}</div>
            </div>
            <!--</div>-->
        </div>
    </div>

</div>