<div class="container">
    <h1>Login</h1>
    <div ng-show="msgNotification" class="alert" ng-class="{'alert-success': ok, 'alert-danger': !ok}">
        {{msgNotification}}
    </div>
    <div ng-if="!isLogin">

        <form name="form">
            <label for="username">Username:</label>
            <input type="text" id="username" ng-model="username" required/>
            <label for="password">Password:</label>
            <input type="password" id="password" ng-model="password" required/><br/>
            <button ng-disabled="form.$invalid" type="submit" class="btn btn-primary"
                    ng-click="login(username, password)">Login
            </button>
            <a href="#/register" class="btn btn-link">sign up</a>
        </form>
    </div>
    <div ng-if="isLogin">
        <p>You are connected as {{user}}</p>
        <br>
        <button class="btn btn-warning" ng-click="logout()">Logout</button>
    </div>

</div>