<div ng-if="isLoading" class="loader"><img src="img/ajax-loader.gif"></div>
<div ng-class="{'isLoading' : isLoading}" class="container">
    <div ng-show="msgNotification" class="alert" ng-class="{'alert-success': ok, 'alert-danger': !ok}">
        {{msgNotification}}
    </div>
    <div class="table-responsive">
        <input type="text" ng-model="search" class="form-control" placeholder="Rechercher une compétence"/>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Lieu</th>
                <th>Categorie</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="situation in situations | filter:search">
                {{situation}}
                <td>
                    <input type="checkbox" ng-model="situation.isActive"
                           ng-click="situation.isActive = !situation.isActive"/>
                </td>
                <td>{{situation.name}}</td>
                <td>{{situation.lieu}}</td>
                <td>{{situation.competence.categorie}}</td>
                <td>
                    <a class="btn btn-info" href="#/editsituation/{{situation.id}}">Edit</a>
                    <a class="btn btn-danger" ng-click="deleteSituation($index)">Remove</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <td><a class="btn btn-info" href="#/newsituation">New Situation</a></td>
    <button type="submit" class="btn btn-default" ng-click="proceedToConfiguration(situations)">Submit</button>

</div>