<div class="container">
     <pre>
     {{competences}}
    </pre>
    <div ng-show="msgNotification" class="alert" ng-class="{'alert-success': ok, 'alert-danger': !ok}">{{msgNotification}}</div>

    

    <div class="row form-group">
        <div class="col-xs-4">
            <form class="form" role="form" ng-submit="addContrainte()">
                <input type="text" ng-model="newContrainte" class="form-control" id="" placeholder="Nouvelle contraintes" >
                    </input>
                <button type="submit" class="btn btn-primary  btn-sm">Submit</button>
            </form>
        </div>
        <div class="col-xs-4">
            <form class="form" role="form" ng-submit="addChrono()">
                <input type="text" ng-model="newChrono" class="form-control" id="" placeholder="Nouveau Chrono" >
                    </input>
                <button type="submit" class="btn btn-primary  btn-sm">Submit</button>
            </form>
        </div>
        <div class="col-xs-4">
            <form class="form" role="form" ng-submit="addResultat()">
                <input type="text" ng-model="newResultat" class="form-control" id="" placeholder="Nouveau Resultat" >
                    </input>
                <button type="submit" class="btn btn-primary  btn-sm">Submit</button>
            </form>
        </div>
    </div>
   
    <div class="form-group">
            <label for="Comp">Competence associée</label>
            <select class="form-control" data-ng-model="situation.competenceId" data-ng-options="competence.id as competence.name group by competence.categorie for competence in competences">   
            </select>
            
            <label for="Comp">Or new one :</label>
            <form class="form-inline" role="form" ng-submit="newCompetence(competence)">
              <div class="form-group">
                <input type="text" ng-model="competence.name" placeholder="Nom" typeahead="competence.name for competence in competences | filter:$viewValue" class="form-control">
              </div>
              <div class="form-group">
                <input type="text" ng-model="competence.categorie" placeholder="Categorie" typeahead="competence.categorie for competence in competences | filter:$viewValue" class="form-control">
              </div>
              <button type="submit" class="btn btn-default">Create</button>
            </form>
    
    <br>
    <br>
    <form role="form" name="form">
        <input type="hidden" ng-model="situation.competenceId" ></input>
        <div class="row form-group">
            <div class="col-xs-4">
                <label for="year">Nom</label>
                <input ng-model="situation.name" type="text" class="form-control" id="year" placeholder="Name">
            </div>
            <div class="col-xs-4">
                <label for="lieu">Année</label>
                <input ng-model="situation.year" type="text" class="form-control" id="year" placeholder="Annéee">
            </div>
            <div class="col-xs-4">
                <label for="lieu">Lieu</label>
                <input ng-model="situation.lieu" type="text" class="form-control" id="lieu" placeholder="Location">
            </div>
        </div>
        <div class="form-group">
            <label for="besoin-entreprise">Besoin de l'entreprise</label>
            <textarea ng-model="situation.besoinEntreprise" class="form-control" id="besoin-entreprise" placeholder="Besoin de l'entreprise..." >
            </textarea>
        </div>
        <div class="form-group">
            <label for="travail-demande">Travail demandé</label>
            <textarea ng-model="situation.travailDemande" class="form-control" id="travail-demande" placeholder="Travail demandé..." >
            </textarea>
        </div>

        <button class="btn btn-default" ng-click="isCollapsedContrainte = !isCollapsedContrainte">Voir contraintes</button>
        <hr>
        <div collapse="isCollapsedContrainte">
        <div class="form-group">
            <div ng-repeat="contrainte in situation.contraintes">
                <label for="contrainte">Moyens - Contraintes {{$index+1}}:</label>
                <input ng-model="contrainte.val" class="form-control"  placeholder="" >
                </input>
                <button class="btn btn-danger btn-xs" ng-click="removeContrainte($index)">Remove</button>
            </div>
        </div>
        </div>

        <button class="btn btn-default" ng-click="isCollapsedChrono = !isCollapsedChrono">Voir Chronologie</button>
        <hr>
        <div collapse="isCollapsedChrono">
        <div class="form-group" >
            <div ng-repeat="chrono in situation.chronologiquement">
                <label for="chronos">Chronologiquement {{$index+1}}:</label>
                <input ng-model="chrono.val" class="form-control" placeholder="" >
                </input>
                <button class="btn btn-danger btn-xs" ng-click="removeChrono($index)">Remove</button>
            </div>
        </div>
        </div>

        <button class="btn btn-default" ng-click="isCollapsedResult = !isCollapsedResult">Voir Resultats</button>
        <hr>
        <div collapse="isCollapsedResult">
        <div class="form-group">
            <div ng-repeat="result in situation.resultat">
                <label for="result">Resultats {{$index+1}}:</label>
                <input ng-model="result.val" class="form-control" placeholder="" >
                </input>
                <button class="btn btn-danger btn-xs" ng-click="removeResultat($index)">Remove</button>
            </div>
        </div>
        </div>


        

        <div class="form-group">
            <label for="retour">Retour</label>
            <input ng-model="situation.retour" class="form-control" id="retour" placeholder="Retours..." >
            </input>
        </div>

        <button type="submit" class="btn btn-default" ng-click="updateSituation(situation)">Submit</button>
    </form> 
</div>